*{
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  background: #00000f;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h2{
  color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
}
.title p{
  color: white;
  margin: 10px;
}

.center{
  display: flex;
  justify-content: center;
}

.maincontainer input{
  display: flex;
  margin: 10px;
  border: 1px solid white;
  height: 30px;
  width: 200px;
  color: white;
  outline: none;
}
::placeholder{
  color: rgb(206, 206, 206);
}


.maincontainer h2{
  display: flex;
  justify-content: center;
  color: white;
}

.grundwert{
  display: flex;
  align-items: center;
  margin: 10px;
  border: 1px solid white;
  height: 30px;
  width: 200px;
  color: white;
}

#myButton{
  margin: 10px;
  border: 1px solid white;
  height: 30px;
  width: 200px;
  color: white;
  transition: 0.2s;
}
#myButton:hover{
  background: white;
  color: black;
}

